* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #dce1e4;
}

::-webkit-scrollbar {
  width: 7px;
  
}

/* Track */
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--backgound); 
  border-radius: 10px;
}
 
/* Handle */
body::-webkit-scrollbar-thumb {
  background: var(--primary); 
  border-radius: 10px;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: var(--primary); 
}


:root {
  --primary: #ea3f43;
  --backgound: #dce1e4;
  --text-dark: #18272f;
  --white: #ffffff;
  --boxShadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

/* ========= Header ========= */

#navbar-link {
  overflow: hidden;
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: var(--text-dark);
  font-weight: 500;
  vertical-align: top;
}

.active {
  color: var(--primary) !important;
  border-bottom: 2px solid var(--primary);
}

#navbar-link::before,
#navbar-link::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
}
#navbar-link::before {
  background-color: var(--primary);
  height: 2px;
  bottom: 0;
  /* transform-origin: 100% 50%; */
  transform: scaleX(0);
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
}
#navbar-link::after {
  content: attr(data-replace);
  height: 100%;
  /* top: 0; */
  transform-origin: 100% 50%;
  transform: translate3d(200%, 0, 0);
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
  color: var(--primary);
}

#navbar-link:hover::before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}
#navbar-link:hover::after {
  transform: translate3d(0, 0, 0);
}

#navbar-link span {
  display: inline-block;
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
}

#navbar-link:hover span {
  transform: translate3d(-200%, 0, 0);
}

.close-menu,
.open-menu {
  position: absolute;
  cursor: pointer;
  display: none;
}

.open-menu {
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.close-menu {
  top: 40px;
  right: 40px;
}

#check {
  display: none;
}

@media (max-width: 800px) {
  .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    background-color: var(--white);
    color: var(--text-dark);
    transition: all 0.5s ease-in-out;
    text-transform: uppercase;
    font-size: 24px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }

  .menu li {
    margin-top: 30px;
  }

  .menu li a {
    padding: 10px;
  }

  .close-menu,
  .open-menu {
    display: block;
  }

  #check:checked ~ .menu {
    right: 0;
  }

  .menu button {
    margin-top: 30px;
    width: 80%;
  }
}

/* Brrdcrumbs */

.background-color {
  background: url("./images/background/bradcum.svg");
  height: auto;
  max-width: 100%;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: var(--boxShadow);
}

/* ========== Contact Page ========== */

.contact-us {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  position: relative;
  background-color: var(--backgound);
}

.contact-form {
  border-top-left-radius: 1000px 300px;
  border-top-right-radius: 1000px 300px;
  background-color: var(--backgound);
  padding: 20px 15px;
  box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.4), -7px -7px 12px rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-icone {
  height: 55px;
  width: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--backgound);
  box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.4), -7px -7px 12px rgba(255, 255, 255, 0.9);
  border-radius: 100%;
}

.labels {
  font-size: 18px;
  font-weight: 600;
}

.inputs {
  box-shadow: inset -3px -3px 12px rgba(255, 255, 255, 0.9), inset 3px 3px 12px rgba(0, 0, 0, 0.4);
  background-color: var(--backgound);
  outline: none;
  width: 100%;
  padding: 7px 10px;
  margin-top: 5px;
  border-radius: 5px;
}

/* Footer */

.footer-top {
  box-shadow: inset -3px -3px 12px rgba(255, 255, 255, 0.9), inset 3px 3px 12px rgba(0, 0, 0, 0.4);
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
